* {
    padding: 10;
    margin: 10;
}

h1 { color: #ffffff;}
h2 { color:white}
h3 { color: #aabbfd;}
p, li, a {color: white}


body {
    background-color: #000000;}

.container {
    display: flex;
} 